* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

.main-container {
    background-color: rgba(153, 51, 153, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    border: 3px red solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 30%);
    min-width: 600px;
    height: 600px;
}

.form-container .form-title {
   margin: 2rem;

}

.form-container .form-box {  
    width: 600px;
}

.form-box .linha-um,
.form-box .linha-dois,
.form-box .linha-tres {
    
    display: flex;

}

fieldset {
    margin: 16px 0 16px 0;
}

fieldset legend {
    font-weight: 600;
}


#div-submit,
#div-mostrar {
    text-align: center;
}

.button {
    margin-top: 1rem;
    width: 150px;
    background-color: #993399;
    color: #FFF;
    height: 25px;
    border: 1px darkblue solid;
    border-radius: 4px;
    cursor: pointer;
}


.form-container .form-box .form-input {
    margin: 5px;
}

.container-table {
    margin-top: 2rem;
}

.table-medium {
    text-align: center;
    border: 0.5px #D7D7D7 solid;
}

.table-medium td {
    padding: 3px;
}

.view-container {
    border: 3px solid red;
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
    width: calc(100% - 30%);
    min-height: 600px;

}

.view-head {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.view-head #div-th-nome {
    background-color: green;
}

.view-head #div-th-aniversario {
    background-color: gold;
}

.view-body {
    display: flex;
    justify-content: space-between;
}
